---
import { Image } from "astro:assets";
import { SiWattpad } from "react-icons/si";
import { FaTwitter, FaLinkedinIn, FaGithubAlt } from "react-icons/fa";

import Menu from "./Menu";
import MobileMenu from "./MobileMenu";
import logo from "../../assets/logo.svg";
import logoKK from "../../assets/logo-kk.svg";
import logoKwik from "../../assets/logo-kwik.svg";

const socials = [
    {
        name: "Twitter",
        link: "https://twitter.com/MAD4869",
        icon: <FaTwitter />,
    },
    {
        name: "Linkedin",
        link: "https://www.linkedin.com/in/makbard/",
        icon: <FaLinkedinIn />,
    },
    {
        name: "Github",
        link: "https://github.com/MAD4869",
        icon: <FaGithubAlt />,
    },
    {
        name: "Wattpad",
        link: "https://www.wattpad.com/user/aconitin_4869",
        icon: <SiWattpad />,
    },
    {
        name: "KaryaKarsa",
        link: "https://karyakarsa.com/aconitin/",
        icon: (
            <Image src={logoKK} alt="Logo KaryaKarsa" width={10} height={10} />
        ),
    },
    {
        name: "Kwikku",
        link: "https://www.kwikku.com/mad4869",
        icon: <Image src={logoKwik} alt="Logo Kwikku" width={15} height={15} />,
    },
];
---

<nav
    class="flex items-center justify-between w-full px-16 py-4 border shadow-lg text-fuchsia-800 border-fuchsia-800 rounded-b-3xl shadow-fuchsia-200/20"
>
    <a href="/" class="text-3xl font-bold" title="Home">
        <Image
            src={logo}
            alt="Logo Blog"
            width={50}
            class="drop-shadow-[0_0_10px_rgba(232,121,249,0.5)]"
        />
    </a>
    <Menu client:only="react" />
    <MobileMenu client:only="react" />
    <ul class="hidden items-center justify-center gap-4 md:flex">
        {
            socials.map((social) => (
                <li
                    class="transition-all hover:text-fuchsia-400 hover:scale-110"
                    title={`Go to ${social.name}`}
                >
                    <a href={social.link} target="_blank">
                        {social.icon}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
