---
import { ViewTransitions } from "astro:transitions";

import Header from "@/components/layouts/Header.astro";
import Footer from "@/components/layouts/Footer.astro";

interface Props {
	title: string;
	description?: string;
	image?: string;
	useFooter?: boolean;
}

const {
	title,
	description = "MAkbarD's blog",
	image = "../assets/profile.jpg",
	useFooter = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
		<meta name="og:image" content={image} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
		{useFooter && <Footer />}
		<style is:global>
			html {
				font-family: system-ui, sans-serif;
			}
			body {
				background-color: #030304;
			}
		</style>
	</body>
</html>
